*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
   background-color: crimson;
   height: 200px;
   border: 5px solid;
   border-color: black;
}
h1{
    color: antiquewhite;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    padding: 10px;
}
.menu{
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    padding: 10px;
    margin-top: 60px;
    float: right;
}
.menu a{
    color: #000;
}
.menu a:hover{
    color: #900;
}

nav ul li{
    display: inline-block;
}
header img{
    height: 80px;
    width: 100px;  
    float: left;
}

h2{
    color: #000;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    
}

main{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.975),rgba(212, 23, 23, 0.05)), url(img/fondo1.jpg);
    background-size: cover;
    background-position: center;
}

.equipom{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

.equipom img{
    width: 100%;
    height: 50%;
    border: 5px solid;
    border-color: lightslategray;
    margin-bottom: 15px;
 }

.equipom p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}

.equipof{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    
    
}
.equipof img{
    width: 100%;
    height: 50%;
    border: 5px solid;
    border-color: lightslategray;
    margin-bottom: 15px;
 }
 .equipof p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer{
    height: auto;
    background-color: rgb(186, 197, 208);    
}
marquee {
    font-size: 15px;
}
.redes{
    text-align: center;
    font-size: 30px;
    color: #900;
    letter-spacing: 20px;
    text-shadow: 0 0 10px #fff;
    padding: 20px;
}
.redes a{
    color: #900;
}
.redes a:hover{
    color: aqua;
}

.playon img{
    width: 400px;
    height: 400px;
    margin-left: 42%;
    margin-bottom: 20px;
    }
.playon p{
    text-align: justify;
    padding: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid;
    margin-left: 5px;
    margin-right: 5px;
}

.historia h3{
    text-align: center;
    font-size: 40px;
    text-decoration:double underline;
    padding: 15px;
    margin-bottom: 20px;
}
.historia p{
    padding: 20px;
    text-align: justify;
    font-size: 30px;
    color: brown;
    text-decoration: none;
    border: 5px solid;
    border-color: #000;
    margin-left: 5px;
    margin-right: 5px;
}

.fondo img{
    height: auto;
    width: 100%;
 }

 .noticias h2{
    text-align: center;
    font-size: 40px;
    padding: 10px;
    font-style: oblique;
}
.noticias img{
    margin-left: 30%;
    padding: 15px;
    width: 900px;
    height: 600px;
}
.noticias h3{
    text-align: center;
}

.noticias p{
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
}

.galeria {
    background-color: #333;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 200px);
    grid-gap: 10px ;
    padding: 15px;
}

.item{
   width: 100%;
}
.item:hover{
    transform: scale(1.2);
    transition: all 1.5s;
}

.item1{
    background-image: url(img/river1.jpg);
    background-size: cover;
    background-position: center; 
}
.item2{
    background-image: url(img/river2.jpg);
    background-size: cover;
    background-position: center; 
}
.item3{
    background-image: url(img/river3.jpg);
    background-size: cover;
    background-position: center; 
}
.item4{
    background-image: url(img/river4.jpg);
    background-size: cover;
    background-position: center; 
}
.item5{
    background-image: url(img/river5.jpg);
    background-size: cover;
    background-position: center; 
}
.item6{
    background-image: url(img/river6.jpg);
    background-size: cover;
    background-position: center; 
}
.item7{
    background-image: url(img/river7.jpg);
    background-size: cover;
    background-position: center; 
}
.item8{
    background-image: url(img/river8.jpg);
    background-size: cover;
    background-position: center; 
}
.item9{
    background-image: url(img/river9.jpg);
    background-size: cover;
    background-position: center; 
}
.item10{
    background-image: url(img/river10.jpg);
    background-size: cover;
    background-position: center; 
}
.tecnicos{
    margin-left: 700px ;
    margin-right: 700px;
    border: 1px solid;
    border-color: dimgray;
    text-align: center;
    margin-top: 30px;
}

.tecnicos h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.tecnicos h4{
    font-size: 30px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.tecnicos strong{
    font-size: 20px;
    padding: 15px;
    margin-top: 5px;
}

.tecnicos p{
    text-align: center;
}

.formulario h5{
    font-size: 30px;
}

.formulario{
    text-align: center;
    border: 4px solid;
    margin-left: 1100px;
    margin-right: 1100px;
    margin-top: 20px;
    padding-bottom: 10px;
}

@media only screen and (min-width:768px) {
h1{
    font-size: 40px;
}
.menu{
    font-size: 15px;
}
header img{
    width: 120px;
    height: 100px;
}
.equipom p{
    font-size: 20px;
}
.equipof p{
    font-size: 20px;
}
.equipom{
    font-size: 30px;
}
.equipof{
    font-size: 30px;
}
h2{
    font-size: 40px;
}

.galeria{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 200px);
}
marquee {
    font-size: 25px;
}
.redes{
    font-size: 40px;
}
}

@media only screen and (min-width:1023px) {
.galeria{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
}
.item7{
    grid-column: 2/4;
    background-size: cover;
    background-position: initial;
}
.item8{
    grid-row: 3/5;
}

}

@media only screen and (min-width:1200px) {
    .equipom{
        width: 50%;
    }
    .equipof{ 
        width: 50%;
    }
    fieldset{
        display: flex;
    }
    .galeria{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .item4{
        grid-row: 1/3;
        grid-column: 2;
    }
    .item6{
        grid-column: 3/5;
        background-position: top;
        background-size: cover;
    }
    .item1{
        grid-column: 3/5;
        grid-row: 4/5;
        background-position: top;
    }
    .item2{
        grid-row: 1/3;
    }
}
